.contact-form,
.blog-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form {
  flex-basis: 70%;
  margin-top: -150px;
  margin-bottom: 50px;
  padding: 80px 40px 20px;
  z-index: 10;
  background-color: $french-blue;
  box-shadow: 20px 20px 0px 0px $bright-aqua;
}

.form-input-block {
  flex-basis: 48%;
}

.form-message-block {
  flex-basis: 100%;
}

label,
input,
textarea,
button {
  display: block;
  width: 100%;
}

input,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: rgba(0,0,0,0);
  color: $pale-grey;
  padding: 10px 20px;
}

label {
  padding-left: 20px;
  transition: all 0.3s ease;
}

//Our form labels are close to the box, like a placeholder, per the design
.form-input-block label {
  transform: translateY(-70px);
}

//When typing in a field the label scoots up out of the way but stays visible for accessibility
.form-input-block input:focus + label {
  transform: translateY(-100px);
  color: $bright-aqua;
}

//If the field has been filled with valid input the label disappears
.form-input-block input:valid + label,
.form-message-block textarea:valid + label {
  opacity: 0;
}

label[for="message"] {
  transform: translateY(-250px);
}

.form-message-block textarea:focus + label {
  transform: translateY(-300px);
  color: $bright-aqua;
}

input {
  border-bottom: 1px solid $pale-grey;
  margin-bottom: 20px;
  &:focus {
    border-bottom: 1px solid $bright-aqua;
  }
}

textarea {
  border: 1px solid $pale-grey;
  &:focus {
    border: 1px solid $bright-aqua;
  }
}

.form-submit-button {
  padding: 5px 10px;
  margin: 20px 0 30px;

  font-family: $heading-font;
  font-size: 1.27rem;
  line-height: 1.64;
  text-align: center;

  background-color: $bright-aqua;
  color: $french-blue;

  transition: all 0.3s ease;
}

.form-submit-button:hover,
.form-submit-button:focus {
  text-decoration: none;
  color: $bright-aqua;
  background-color: $darkish-blue;
}

.form-submit-button:active {
  color: $pale-grey;
}