//First few of these just tighten up the header so things don't collide

@media (max-width: 1220px) {
  .index-header {
    height: 40rem;
  }

  .header-image-box {
    width: 30rem;
  }
}

@media (max-width: 1100px) {
  .header-image-box {
    width: 25rem;
  }
}

@media (max-width: 1024px) {
  //Blog page goes to one-column
  .blog-flex-container {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }

  .blog-main {
    margin-top: 6rem;
  }

  .blog-aside {
    border: none;
    box-shadow: none;
  }

  .blog-aside-content {
    //Blog purple sidebar has a 2-column horizontal layout for a bit
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    & div:first-of-type {
      flex-grow: 1;
      margin-right: 5rem;
    }
    & div:last-of-type {
      flex-basis: 16rem;
      flex-shrink: 0;
    }
  }

  .blog-side-image {
    //Sidebar image gets smaller but still overlaps the header
    width: 50%;
    position: relative;
    right: -45%;
    top: -16rem;
    margin-bottom: -17rem;
    z-index: 10;
    box-shadow: -10px 10px 0 0 $bright-aqua;
  }

  .blog-image {
    box-shadow: -10px 10px 0 0 $bright-aqua;
    margin-left: 0;
  }

  .blog-post {
    border: none;
    padding: 0;
  }

  .blog-comments {
    padding: 2rem 0 8rem;
  }
}

@media (max-width: 950px) {
  .whats-new-article {
    //Icons on index.html's What's New section sit centred atop each heading, saving some horizontal space
    padding: 0 1rem;
    margin-top: 4rem;
    text-align: center;
    & h2::before {
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .about-us-article-top {
    margin-bottom: 1rem;
  }

  .about-us-article-bottom {
    margin: 1rem 0 2rem;
  }

  .about-us-image-right {
    box-shadow: -10px 10px 0 0 $bright-aqua;
  }

  .about-us-image-left {
    box-shadow: 10px 10px 0 0 $bright-aqua;
  }

  .form-input-block {
    flex-basis: 100%;
  }
}

@media (max-width: 800px) {
  //About us section goes from a 2x2 grid to 1-column centred
  .about-us-section {
    background: linear-gradient(to bottom, #03697c 4%, #474bb5 4%, #474bb5 100%);
  }

  .about-us-grid-container {
    grid-template-columns: 1fr;
  }

  .about-us-image-left {
    position: static;
    grid-column: 1 / -1;
    margin: 0 auto;
    width: 60%;
  }

  //These images are purely decorative anyway so let's drop the last one to save some bandwidth

  .about-us-image-right {
    display: none;
  }

  .about-us-wrapper {
    grid-column: 1 / -1;
  }

  .about-us-article {
    width: 95%;
    text-align: center;
  }

  .about-us-article-bottom,
  .about-us-article-top {
    align-self: center;
  }

  //Blog sidebar image is purely decorative, so let's drop it to save bandwidth on mobile

  .blog-side-image {
    display: none;
  }

  .blog-aside {
    margin-top: -10rem;
    z-index: 10;
  }

  .blog-aside-content {
    //Blog sidebar goes from 2-col to one-column centred
    flex-direction: column;
    align-items: center;
    text-align: center;
    & div:first-of-type {
      margin-right: 0;
    }
    & h4 {
      margin-top: 1rem;
    }
  }

  .blog-h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  //Tighten up that header at smaller sizes
  .header-image-box {
    width: 20rem;
    margin: 0 auto;
  }

  .index-header {
    box-shadow: inset 0px -5vw 0px 0px $deep-turquoise;
    height: auto;
  }

  h1 {
    font-size: 5.6rem;
    line-height: 1.1;
    margin-top: 5rem;
  }

  .contact-flex-container {
    //Contact page goes from 2-column to 1-column centred
    flex-wrap: wrap;
  }

  .contact-info-block {
    flex-basis: 100%;
    text-align: center;
    flex-shrink: 0;
  }

  .social-nav ul {
    justify-content: center;
    & li {
      margin-left: 20px;
    }
  }

  .contact-form {
    flex-basis: 100%;
    margin-top: 4rem;
    box-shadow: 10px 10px 0 0 $bright-aqua;
  }
}

@media (max-width: 650px) {
  .whats-new-article {
    //What's New section goes from 2x2 grid to 1-column centred
    flex-basis: 100%;
  }

  .events-image {
    display: none;
  }

  .events-flex-container {
    justify-content: center;
  }

  .events-article {
    text-align: center;
    flex-basis: 100%;
  }
}

@media (max-width: 500px) {
  //This is all switching our nav bar to a hamburger menu
  .menu-icon {
    display: block;
    position: fixed;
    width: 3rem;
    top: 1rem;
    right: 5%;
    margin: 0;
    font-size: 1.4rem;
    text-align: right;
    z-index: 999;
  }

  .menu-icon:hover {
    color: $bright-aqua;
  }

  .menu-icon:active {
    color: $pale-grey;
  }

  .navigation-toggle:focus ~ .menu-icon {
    color: $bright-aqua
  }

  .navigation-toggle:checked ~ .main-nav {
    right: 5%;
  }

  .main-nav {
    position: fixed;
    top: 4rem;
    right: -50%;
    transition: right 0.3s ease;
  }

  .main-nav ul {
    display: inline-block;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.7);
  }

  .main-nav li {
    padding: 1em;
    text-align: center;
  }

  .main-nav a {
    margin: 0;
  }

  //Drop the last instagram gallery image; that section goes from 3-column to 2-column
  .gallery-img:last-of-type {
    display: none;
  }
  
  .gallery-img {
    flex-basis: 48%;
  }
}

@media (max-width: 450px) {
  //Last one! Shrink the main header so it fits on phones down to 300px wide
  h1 {
    font-size: 3.8rem;
    margin: 3rem 0 3rem;
    text-align: center;
  }

  .comment-wrap {
    //Blog comments are getting tight, so stack the avatar above the comment text
    flex-direction: column;
    align-items: flex-start;
  }
}