@mixin header-background($img-path) {
  background-image: url($img-path);
  background-position: center center;
  background-size: cover;
}

@mixin h2-icon($svg) {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 40px;
  border-radius: 50%;
  background: url($svg), linear-gradient($bright-aqua, $bright-aqua);
  background-position: center center;
  background-repeat: no-repeat;
  @if $svg == "../assets/icon-blog.svg" {
    background-size: 50%, 100%;
  } @else {
    background-size: 70%, 100%;
  }
}