// ====== WHAT'S NEW SECTION STARTS ======

.whats-new-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

.whats-new-article {
  //what's new, article? whoa-oh-oh-oh
  flex-basis: 50%;
  padding-left: 65px;
  position: relative;
}

.whats-new-article h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 40px;
  border-radius: 50%;
  background-color: $bright-aqua;
}

.h2-new-space::after {
  @include h2-icon("../assets/icon-new-space.svg");
}

.h2-blog::after {
  @include h2-icon("../assets/icon-blog.svg");
}

.h2-community::after {
  @include h2-icon("../assets/icon-community.svg");
}

.h2-get-in-touch::after {
  @include h2-icon("../assets/icon-get-in-touch.svg");
}

// ====== WHAT'S NEW SECTION ENDS ======

// ====== ABOUT US SECTION STARTS ======

.about-us-section {
  // position: relative;
  background: linear-gradient(to bottom, $deep-turquoise 4%, $french-blue 4%, $french-blue 96%,$deep-turquoise 96%);
}

.about-us-flex-container {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  max-width: 2200px;
  margin: 0 auto;
}

.about-us-article {
  flex-basis: 35%;
  flex-shrink: 2;
  flex-grow: 0;
  margin: auto;
  padding: 20px 0;
  & h3 {
    margin-top: 0;
  }
}

.about-us-image {
  flex-basis: 40%;
  flex-shrink: 1;
  flex-grow: 0;
}

.about-us-image-left {
  box-shadow: 20px 20px 0px 0px $bright-aqua;
  align-self: flex-start;
  left: 0;
  // margin-right: 10%;
}

.about-us-image-right {
  box-shadow: -20px 20px 0px 0px $bright-aqua;
  right: 0;
  align-self: flex-end;
  // margin-left: 10%;
}

.about-us-article-bottom {
  margin: 40px auto;
  text-align: right;
}

// ====== ABOUT US SECTION ENDS ======

// ====== ROAD TRIPS SECTION STARTS ======

.road-trips-flex-container {
  display: flex;
  flex-direction: column-reverse;
  & article {
    padding: 40px 0;
    // max-width: 1100px;
    text-align: center;
  }
}

// ====== ROAD TRIPS SECTION ENDS ======
// that was a disappointingly short road trip

// ====== EVENTS SECTION STARTS ======

.events-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.events-image {
  flex-basis: 25%;
  box-shadow: -20px 20px 0px 0px $bright-aqua;
  //the image aligns with the wrapper on the shadow, not the image
  margin-left: 20px;
}

.events-article {
  flex-basis: 65%;
}

// ====== EVENTS SECTION ENDS ======

// ====== GALLERY SECTION STARTS ======

.gallery-section {
  background-color: $french-blue;
  padding: 40px 0;
}

.gallery-flex-container {
  display: flex;
  justify-content: space-between;
  & .gallery-img {
    flex-basis: 30%;
  }
}

// ====== GALLERY SECTION ENDS ======