$french-blue: #474bb5;
$deep-turquoise: #03697c;
$darkish-blue: #044779;
$pale-grey: #f3faff;
$bright-aqua: #08fded;

$heading-font: "Walter Turncoat", Arial, sans-serif;
$body-font: "Roboto", arial, sans-serif;